:root {
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-grayish-red: hsl(0, 6%, 24%);
	--gradient-light: linear-gradient(135deg, #ffe5e5, #ffffff);
	--gradient-dark: linear-gradient(135deg, hsl(0, 80%, 86%),
		hsl(0, 74%, 74%));
}

body {
	background: var(--gradient-light);
	font-size: 16px;
	font-family: "Josefin Sans", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
}

h1 {
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin: 50px 0px 0px 0px;
	color: var(--dark-grayish-red);
}

span {
	color: var(--desaturated-red);
	font-weight: 300;
}

.top-logo {
	width: 100px;
	margin: 30px;
}

.desktop-pic {
	display: none;
}

.blurb {
	text-align: center;
	color: var(--desaturated-red);
	padding: 0px 30px;
	font-size: 14px;
	line-height: 1.3rem;
}

/*form styling*/

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.email-field {
	padding: 15px;
	width: 240px;
	border: 1px solid hsl(0, 80%, 86%);
	border-radius: 30px;
	margin-left: 32px;
	background-color: var(--gradient-light);
}

::placeholder {
	color: hsl(0, 80%, 86%);
	font-family: "Josefin Sans", sans-serif;
	padding-left: 15px;
}

.submit-button {
	background: var(--gradient-dark);
	padding: 14px 25px;
	border-radius: 30px;
	position: relative;
	top: 19px;
	right: 50px;
}

#validation-message {
	color: var(--soft-red);
	text-align: center;
}

input:invalid {
	outline: 2px solid red;
	background: url(/images/icon-error.svg) no-repeat 77%;
}


/*end of form styling*/

footer {
	text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--desaturated-red);
}

.fa-github {
	color: var(--desaturated-red);
	font-size: 30px;
	margin: 20px;
}

/*desktop view styling*/

@media (min-width:700px) {
	body {
		background-image: url(/images/bg-pattern-desktop.svg);
		background-color: #ffe5e556;
	}
	
	h1 {
		text-align: left;
		padding-right: 100px;
		font-size: 70px;
		margin-top: 220px;
	}
	
	.page-container {
		display: flex;
		flex-direction: row-reverse;
	}

	.content-container {
		padding-left: 170px;
	}

	.top-logo {
		width: 140px;
		position: absolute;
		padding-left: 170px;
		margin: 70px 0px 0px 0px;
	}

	.blurb {
		text-align: left;
		padding-right: 200px;
		padding-left: 0px;
		font-size: 16px;
		line-height: 1.7rem;
	}

	.form-container {
		justify-content: left;
	}

	.email-field {
		margin: 0;
		padding: 20px;
		font-size: 17px;
		width: 380px;
	}

	.submit-button {
		padding: 22px 45px 22px 45px;
		position: relative;
		top: 26px;
		left: -80px;
		border-radius: 50px;
	}

	#validation-message {
		text-align: left;
		margin-left: 20px;
	}

	.mobile-pic {
		display: none;
	}

	.desktop-pic {
		display: block;
	}

	::-webkit-scrollbar {
		background-color: var(--desaturated-red);	
	}

	::-webkit-scrollbar-button {
		background-color: hsl(0, 80%, 86%);
	}

	::-webkit-scrollbar-thumb {
		background-color:var(--soft-red);
	}
}